<div class="row">
    <input ng-model="newSavedPlaylistName" ng-enter="newSavedPlaylist()">
    <button class="btn" ng-click="newSavedPlaylist()">Add New</button>
    <hr>
    <div class="row">
        <div class="col-sm-4">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="savedPlaylist in SavedPlaylists" ng-class="{active: savedPlaylist==selectedSavedPlaylist}" ng-click="savedPlaylistSelect(savedPlaylist)"><a>{{savedPlaylist.Name}}</a></li>
            </ul>
        </div>

        <div class="col-sm-8" ng-show="shouldShowSavedPlaylistDetails()">
            <div ng-show="shouldShowSavedPlaylistSongs()">
                <a ng-click="playSavedPlaylist()">Play Playlist</a>
                <a ng-click="enqueueSavedPlaylist()">Enqueue Playlist</a><br />
            <table class="table span6 table-striped table-bordered table-condensed">
                <tbody>
                    <tr>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th>Artist</th>
                        <th>Title</th>
                        <th colspan="4">Album</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="song in CurrentPlaylistSongs">
                        <td>{{song.Artist}}</td>
                        <td>{{song.Title}}</td>
                        <td>{{song.Album}}</td>
                        <td><button class="btn btn-primary"><i class="fa fa-2x fa-long-arrow-down" ng-click="enqueue(song)"></i></button></td>
                        <td><button class="btn btn-success"><i class="fa fa-2x fa-play-circle" ng-click="play(song)"></i></button></td>
                        <td><button class="btn btn-danger"><i class="fa fa-2x fa-times" ng-click="removeSongFromSavedPlaylist(song)"></i></button></td>
                    </tr>
                </tbody>

            </table>
            </div>
            <div ng-show="!shouldShowSavedPlaylistSongs()">
                There are no songs yet for this saved playlist.
            </div>
        </div>
        
        <div class="col-sm-8" ng-show="!shouldShowSavedPlaylistDetails()">
            Select a playlist to begin.
        </div>
</div>
